body {
  
  background-color: ivory;
}



.top-logo {
  width: 30%;
  height: 15%;
  margin-top: -4%;
}


#sectionLogin {
  background-image: url("/img/signin-sup.jpg");
  background-color: rgba(90, 90, 90, 0.603);
  background-position: center;
  background-size: cover;
  height: 158vh;
}

#sectionNew {
  background-image: url("/img/jungle4.jpg");
  background-color: rgba(90, 90, 90, 0.603);
  background-position: center;
  background-size: cover;
  height: 158vh;
}

#sectionEdit {
  background-image: url("/img/jungle3.jpg");
  background-color: rgba(90, 90, 90, 0.603);
  background-position: center;
  background-size: cover;
  height: 158vh;
}



#sectionDashboard {
  background-image: url("/img/0144_Banner-145.jpg");
  background-color: rgba(90, 90, 90, 0.603);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  height: 35vh;
}


#section {
  background-image: url("/img/wp3948212.jpg");
  background-color: rgba(90, 90, 90, 0.603);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#sectionSpecies {
  background-image: url("/img/snake2.jpg");
  background-color: rgba(90, 90, 90, 0.603);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#sectionCare {
  background-image: url("/img/snake4.png");
  background-color: rgba(90, 90, 90, 0.603);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#sectionSales {
  background-image: url("/img/snake3.jpg");
  background-color: rgba(90, 90, 90, 0.603);
  background-position: center;
  background-size: cover;
  height: 170vh;
}

#sectionView {
  background-image: url("/img/jungle1.jpg");
  background-color: rgba(90, 90, 90, 0.603);
  background-position: center;
  background-size: cover;
  height: 200vh;
}
#sectionContact {
  background-image: url("/img/snake6.jpg");
  background-color: rgba(90, 90, 90, 0.603);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
/* ===================================Nav section==================================================== */

nav a2 {
  white-space: nowrap;
  color: rgb(255, 255, 255) !important;
}

nav a {
  white-space: nowrap;
  color: rgb(255, 255, 255) !important;
}

nav a:hover,
.active {
  color: rgb(255, 255, 255) !important;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.book {
  border: 1px solid white;
  border-radius: 5px;
}

.navbar-nav > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu a {
  background-color: #8a88886c;
}

.middle-section {
  border: 1px solid #a7a5a5;
  border-radius: 10px;
  box-shadow: rgb(146, 145, 145) 1px 0 5px;
  background-color: #131313a1;
}

#darkLink {
	color: black;
}

/* /* ======================================Footer Section======================================================================================================= */
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}




